<%- include header -%>

<div class="main">
  <div id="user">
    <center>
      <img class="avatar" src="<%= data.avatar %>" />
      <p><%= data.name %></p>
      <a class="logout" href="/logout">logout</a>
    </center>
  </div>
</div>

<%- include footer -%>